@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-accordion-btn-icon-transform: rotate(0deg) !important;
}

@import url("https://fonts.googleapis.com/css2?family=Anta&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

h1.titulo {
  font-family: "JetBrains Mono";
}

h5.footer-text {
  color: gray;
}

a.link-github {
  color: white;
  transition: 0.25s;
  font-family: "JetBrains Mono";
}
a.link-github:hover {
  color: lightgreen;
}

button.createTask {
  font:
    400 normal 0px "JetBrains Mono",
    monospace;
  border: none;
  background-color: #25292c;
  transition: 0.25s;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
button.createTask:hover {
  background-color: #0051ff;
}

main.telaCreateTask {
  background-color: #212529;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
}

div.formTask {
  background-color: #2b2f33;
  max-width: 600px;
  min-width: 300px;
  min-height: 600px;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

button.btn {
  transition: 0.25s;
  font-size: 25px;
}

label.form-label {
  font-size: 22px;
}

div.tarefa-item {
  width: 75vw;
  margin: 10px 0;
}

p.tarefa-item-description {
  background-color: #2b2f33;
  border-radius: 10px;
}

p.tarefa-item-p {
  padding: 5px 10px;
  margin: 10px 0;
}

div.accordion-body {
  padding: 0 10px !important;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-btn-color) !important;
  background-color: var(--bs-accordion-btn-bg) !important;
  box-shadow: none !important;
}

p.atrasada {
  background-color: rgba(255, 0, 0, 0.193);
  border-radius: 10px;
}

button.accordion-button {
  font-size: 20px;
}

img.img-delete {
  width: 25px;
  height: 25px;
  transition: 0.25s;
}

button.btn-delete {
  background-color: #212529;
  border-radius: 10px;
  border: none;
  padding: 10px;
  transition: 0.25s;
} 
button.btn-delete:hover {
  background-color: rgba(255, 0, 0, 0.193);
  padding: 7.5px;
  img.img-delete {
    width: 27.5px;
    height: 27.5px;
  }
}
